<header id="header">
  <div id="headerIn">
    <h1 class="logo"><a href="#"><img src="/img/logo.jpg" alt="멍냥토크"></a></h1>
    <!--.logo-->
    <div class="search">
      <input type="text" class="src" 
          th:value="${session.email}"><label>검색하기</label>
      <select class="h_category">
        <option>전체</option>
        <option>멍톡</option>
        <option>냥톡</option>
        <option>잡담</option>
        <option>헬프</option>
      </select>
      <a href="#" class="srcimg"><img src="/img/srcimg.jpg" alt="검색"></a>
    </div>
    <!--.search-->

  </div>
  <!--#headerIn-->
</header>