<form action="/join" method="post">
  ID: <input type="text" name="id"><br>
  <p id="result-id"></p>
  PW: <input type="text" name="pw"><br>
  NAME: <input type="text" name="name"><br>
  <button>가입</button>
</form>

<!-- 회원가입 시 ID중복 검사기능 서버와 연동 http://localhost:8080/joinAjax?id=1 -->
<script>
  const id = document.querySelector("[name=id]");
  id.addEventListener('blur', check) //함수호출 시 ()X
  async function check() {
    const idValue = id.value;
    const data = await fetch("/joinAjax?id=" + idValue);  // const data1 = fetch(`/joinAjax?id=$+idValue`);
    const result = await data.text();
    // alert(result);
    const resultId = document.querySelector("#result-id");
    if (result === 'true') {
      resultId.innerHTML = '사용할 수 없는 아이디 입니다.';
      id.style.backgroundColor = 'red';
      id.classList.add('no-valid');
      id.classList.remove('yes-valid');
    } else {
      resultId.innerHTML = '';
      id.style.backgroundColor = 'white';
      id.classList.add('yes-valid');
      id.classList.remove('no-valid');
    }
  }
</script>
<style>
  .no-valid {
    background-color: red;
  }

  .yes-valid {
    background-color: white;
  }
</style>