<form action="/team/add" method="post">
    TeamId: <input type="text" name="teamId">
    TeamName: <input type="text" name="teamName">
    <button type="submit">등록</button>
</form>
<script>
    const button = document.querySelector("button");
    console.log(button);
    button.addEventListener("click", add); //("click", 기능)
    async function add(event) {
        event.preventDefault();
        const formData = new FormData;
        const teamId = document.querySelector('[name=teamId]').value;
        const teamName = document.querySelector('[name=teamName]').value;
        formData.append('teamId', teamId);
        formData.append('teamName', teamName);
        const data = await fetch("/team/add", {
            method: 'post', body: formData
        })
        const result = await data.text();
        alert(result);
    }
</script>
${team.teamId}
${team.TeamName}